.examples {
    max-width: 1200px;
}
.popover-example-rwd {
    display: inline-block;

    .popover-example,
    .popover-example.top,
    .popover-example.top-right,
    .popover-example.top-left,
    .popover-example.right,
    .popover-example.right-top,
    .popover-example.right-bottom,
    .popover-example.bottom,
    .popover-example.bottom-right,
    .popover-example.bottom-left,
    .popover-example.left,
    .popover-example.left-top,
    .popover-example.left-bottom {
        position: relative;
        margin: 20px 15px 20px 25px;
    }
}

form .icon-info-sign {
    vertical-align: top;
    margin-left: 12px;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.icon-info-sign {
    background-image: url(./images/icon/info.svg);
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}
